
body{
      background-color: #dcedad

}


.wrapper{
    display: grid;
    grid-gap: 20px;
   
 }

.box {
  display:;
  width: 250px;
  height: 40px;
  border-radius: 50px;
  background-color: #c0ede9;
  padding: 2em;
  margin: 0 auto;
}
  


 body,html{
 	margin: 0;
 	font-family: "Lucida Console", "Courier New", monospace;
 	font-size: 14px
 }



 ul{
 	padding: 0em;
 	width: 100%;
 }

 li{
 	display: inline;
 }

 a {
 	 outline: double #7f9fad;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
}

li:last-child a {
  margin-right: 0 auto;
}

a:link, a:visited, a:focus {
  background: #97c47c ;
  
}

a:hover {
  background: #c4ab7c;
}

a:active {
  background: #9CAF88 ;
  color: white;
}
